@model VMGest1.Models.Anagrafica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Anagrafica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Città)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Città)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cellulare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellulare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuogoNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuogoNascita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Anagrafica_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
