@model VMGest1.Models.Azioni

@{
    ViewBag.Title = "Details";
}

@foreach (var item in ViewBag.Utente)
{
    <h2>
        <span>@item.Cognome @item.Nome</span>
    </h2><hr />

}

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Azioni_Id)
    @Html.HiddenFor(model => model.Anagrafica_Id)


    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-10">
            <a href="@Url.Action("Edit", "Azionis", new { id = Model.Azioni_Id, ut = Request.QueryString["ut"], tipo = Model.Tipo })" class="btn btn-sm btn-primary" data-toggle-t="tooltip" title="Modifica azione">
                <span class="glyphicon glyphicon-pencil"> Modifica</span>
            </a>
                <div class="well well-sm" id="span-descrizione">
                    <h3>
                        @Html.DisplayFor(model => model.Tipo) <span class="badge">@Model.Data.ToString("dddd dd MMM yyyy")</span>
                    </h3><hr />
                    @Html.Raw(Model.Descrizione)
                </div>
</div>
    </div>

    <div id="div-area">


        @if (Model.Tipo == "Anamnesi")
            {
            <div class="form-group">
                @Html.LabelFor(model => model.Diagnostica, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.Diagnostica, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Diagnostica, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Traumi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.Traumi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Traumi, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Chirurgia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.Chirurgia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Chirurgia, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Viscerale, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.Viscerale, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Viscerale, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Dentale, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.Dentale, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Dentale, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Visiva, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.Visiva, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Visiva, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                </div>
        }
        else
        {
            <div class="form-group">
                <label class="control-label col-md-2">Area indagine</label>
                <div class="col-md-10 list-group">
                    <a href="@Url.Action("Create", "AzioniDetts", new { id = @Model.Azioni_Id, ut = Request.QueryString["ut"], tipo = Model.Tipo })" data-toggle-t="tooltip" title="Aggiungi azione area indagine" class="glyphicon glyphicon-plus text-success"></a>
                    @foreach (var itemdett in Model.AzioniDetts)
                    {
                        <span class="list-group-item">
                            <a href="@Url.Action("Delete", "AzioniDetts", new { id = @itemdett.AzioniDett_Id, ut = Request.QueryString["ut"], az = @itemdett.Azioni_Id })" data-toggle-t="tooltip" title="Elimina dettaglio" class="glyphicon glyphicon-remove text-danger"></a>
                            <a href="@Url.Action("Edit", "AzioniDetts", new { id = @itemdett.AzioniDett_Id, ut = Request.QueryString["ut"], az = @itemdett.Azioni_Id, tipo=Model.Tipo})" data-toggle-t="tooltip" title="Modifica dettaglio">
                                <span class="glyphicon glyphicon-pencil"></span>
                                @if (@itemdett.Aree.Descrizione == "Endfeel" | @itemdett.Aree.Descrizione == "TMT")
                                {
                                    <span class="text-danger"><strong><em>@itemdett.Aree.Descrizione: </em>@itemdett.Descrizione</strong></span>

                                }
                                else
                                {
                                    <span class="text-primary"><strong><em>@itemdett.Aree.Descrizione: </em></strong></span>
                                    @itemdett.Descrizione

                                }
                            </a>
                        </span>

                    }
                </div>
            </div>
        }
    </div>
    <div>
        <a href="@Url.Action("Index", new { id = Model.Azioni_Id, ut = Request.QueryString["ut"], tipo = Model.Tipo})" class="btn btn-warning">Esci</a>

    </div>

</div>






