@model PagedList.IPagedList<VMGest1.Models.Azioni>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}
@*Verifico se la persona ha già delle schede*@
@if (ViewBag.AzionisCount == 0)
{
    foreach (var item in ViewBag.Utente)
    {
        <h2>

            <span>@item.Cognome @item.Nome</span>
            <a href="@Url.Action("Create", "Azionis", new { id = Request.QueryString["ut"], ut = Request.QueryString["ut"], tipo = "Anamnesi" })" data-toggle-t="tooltip" data-placement="bottom" title="Aggiungi anamnesi" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Anamnesi</a>
            <a href="@Url.Action("Create", "Azionis", new { id = Request.QueryString["ut"], ut = Request.QueryString["ut"], tipo = "Valutazione" })" data-toggle-t="tooltip" data-placement="bottom" title="Aggiungi valutazione" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Valutazione</a>
    @using (Html.BeginForm("Create1", "Azionis", new { id = Request.QueryString["ut"], ut = Request.QueryString["ut"], tipo = "Trattamento" }, FormMethod.Post))
    {
        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span></button>

    }
        </h2><hr />

    }
    <h3 class="text-danger">Nessuna azione registrata</h3>
}
    @*Se non ha schede procedo*@

    @foreach (var group in Model.GroupBy(item => item.Anagrafica.Cognome + " " + item.Anagrafica.Nome))
    {
<!---Intestazione-->
        <h2>
            @Html.Encode(group.Key)

            <a href="@Url.Action("Create", "Azionis", new { id = Request.QueryString["ut"], ut = Request.QueryString["ut"], tipo = "Anamnesi" })" data-toggle-t="tooltip" data-placement="bottom" title="Aggiungi anamnesi" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Anamnesi</a>
            <a href="@Url.Action("Create", "Azionis", new { id = Request.QueryString["ut"], ut = Request.QueryString["ut"], tipo = "Valutazione" })" data-toggle-t="tooltip" data-placement="bottom" title="Aggiungi valutazione" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span> Valutazione</a>
            @using (Html.BeginForm("Create1", "Azionis", new { id = Request.QueryString["ut"], ut = Request.QueryString["ut"], tipo = "Trattamento" }, FormMethod.Post))
            {
                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"> Trattamento</span></button>

            }

        </h2>
        <hr />
<!---Fine intestazine-->
<!---Azioni-->
        <table class="table table-striped">
            @foreach (var item in group)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Azionis", new { id = item.Azioni_Id, ut = Request.QueryString["ut"], tipo = item.Tipo })" data-toggle-t="tooltip" title="Modifica azione">
                            @{
                                string tipo = "alert alert-info";}
                            @{

                                switch (item.Tipo)
                                {
                                    case "Anamnesi":
                                        tipo = "alert alert-info";
                                        break;
                                    case "Valutazione":
                                        tipo = "alert alert-danger";
                                        break;
                                    case "Trattamento":
                                        tipo = "alert alert-success";
                                        break;
                                    default:
                                        tipo = "alert alert-warning";
                                        break;

                                }
                            }
                            <div class="@tipo">
                                <span class="badge">
                                    @Html.DisplayFor(modelItem => item.Tipo) -
                                    @item.Data.ToString("dd-MMM-yyyy")
                                </span>

                                @Html.Raw(item.Descrizione)
                            </div>
                        </a>

                        @*Dettaglio azioni Sezione nascosta*@
                        <div class="collapse" id="@item.Azioni_Id">
                            <div class="list-group">
                                @Html.ActionLink("Nuovo", "Create", "AzioniDetts", new { id = @item.Azioni_Id, ut = Request.QueryString["ut"] }, new { @class = "btn btn-xs btn-primary" })
                                @foreach (var itemdett in item.AzioniDetts)
                                {
                                    <span class="list-group-item">
                                        <a href="@Url.Action("Delete", "AzioniDetts", new { id = @itemdett.AzioniDett_Id, ut = Request.QueryString["ut"], az = @itemdett.Azioni_Id, tipo = item.Tipo })" data-toggle-t="tooltip" title="Elimina dettaglio" class="glyphicon glyphicon-remove text-danger"></a>
                                        <a href="@Url.Action("Edit", "AzioniDetts", new { id = @itemdett.AzioniDett_Id, ut = Request.QueryString["ut"], az = @itemdett.Azioni_Id, tipo=item.Tipo })" data-toggle-t="tooltip" title="Modifica dettaglio">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            @if(@itemdett.Aree.Descrizione =="ENDFEEL" | @itemdett.Aree.Descrizione == "BLT")
                                            {
                                            <span class="text-danger"><strong><em>@itemdett.Aree.Descrizione: </em>@itemdett.Descrizione</strong></span>

                                            }
                                            else{
                                            <span class="text-primary"><strong><em>@itemdett.Aree.Descrizione: </em></strong></span>
                                            @itemdett.Descrizione
                                            }
                                        </a>
                                    </span>

                                }
                            </div>
                        </div>
                    </td>
                    @*Fine dettaglio azioni Sezione nascosta*@
                    <td>
                        <h4>
                            @if (item.Tipo != "Anamnesi")
                            {
                                int tot = item.AzioniDetts.Count();
                                <a role="button" id="@item.Azioni_Id" data-toggle="collapse" title="Vedi dettaglio" href="#@item.Azioni_Id" aria-expanded="false" aria-controls="@item.Azioni_Id">
                                    <span class="h6">@tot</span><span id="@item.Azioni_Id" class="glyphicon glyphicon-arrow-down"></span>
                                </a>
                                <a href="@Url.Action("Create", "AzioniDetts", new { id = @item.Azioni_Id, ut = Request.QueryString["ut"], tipo = item.Tipo })" data-toggle-t="tooltip" title="Aggiungi dettaglio" class="glyphicon glyphicon-plus-sign"></a>
                                <!---Abilito il tasto elimina se non ci sono dettagli*-->
                                   if (tot == 0)
                                   {
                                        <a href="@Url.Action("Delete", "Azionis" , new { id=item.Azioni_Id, ut=Request.QueryString["ut"] })" data-toggle-t="tooltip" title="Cancella azione" class="glyphicon glyphicon-remove text-danger"></a>
                                }
                            }
                            else
                            {
                                int tot = item.AzioniDetts.Count();
                                <!---Abilito il tasto elimina, per anamnesi, se non ci sono dettagli*-->
                                if (tot == 0)
                                {
                                    <a href="@Url.Action("Delete", "Azionis" , new { id=item.Azioni_Id, ut=Request.QueryString["ut"] })" data-toggle-t="tooltip" title="Cancella azione" class="glyphicon glyphicon-remove text-danger"></a>
                                }
                            }
                        </h4>
                    </td>
                </tr>
             }
        </table>
<!---Fine azioni-->
     }

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new {ut = Request.QueryString["ut"], page}))

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">

            $(function () {
                $('[data-toggle-t="tooltip"]').tooltip();
            })
        </script>
    }
